@font-face
  font-family: CircularStd-Book
  src: url(../fonts/CircularStd-Book.otf)

@font-face
  font-family: CircularStd-Medium
  src: url(../fonts/CircularStd-Medium.otf)

html, body
  height: 100%

body
  background-color: #547088
  margin: 0

.block
  height: 100vh
  min-height: 100%
  position: relative

#container
  position: absolute
  left: 0
  right: 0
  top: 50%
  transform: translateY(-50%)
  padding: 0 15px

.content
  margin: auto
  max-width: 660px;

#title
  position: absolute
  left: 15px
  right: 15px
  top: 50%

#title img 
  max-width: 600px
  display: block
  margin: auto

#bar
  background-color: #f7f381
  display: block
  height: 4px
  margin: auto
  margin-bottom: 35px
  width: 100%
  max-width: 600px

a, p
  color: white

p
  font-family: 'CircularStd-Book', sans-serif
  text-align: center

#enter
  position: absolute
  left: 0
  right: 0
  bottom: 80px
  text-align: center

#enter img
  transition: transform 0.2s

#enter img:hover
  transform: scale(1.4)

#bar.hide,
.hide
  display: none

#video-container
  position: absolute
  left: 20px
  right: 20px
  top: 50%
  transform: translateY(-50%)

video 
  display: block
  margin: auto
  width: 100%
  max-width: 900px

#footer
  position: absolute
  left: 0
  right: 0
  bottom: 40px

.social
  margin: auto
  width: 145px

.social a 
  margin-right: 35px

.social a:last-child
  margin-right: 0

/*
@media screen and (max-width: 618px) {
  #title {
    margin: 0
    left: 15px;
    width: calc(100% - 30px)
  }
}
*/